.header__Primary {
  margin-bottom: 10px;
  padding: 25px 0px 0px 0px;
}

.header__Secondary {
  padding: 15px 18px;
  border-bottom: 1px solid rgb(204, 201, 201);
  margin: auto;
}

.header__Tertiary {
    padding: 15px;
    border-bottom: 1px solid rgb(204, 201, 201);
}