.list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 35px minmax(100px, 1fr) 35px 35px;
  grid-gap: 20px;
  border-bottom: 2px solid #eeeeee;
  padding: 20px;
  align-items: center;
  word-wrap: break-word;
}

.list__button {
  background-color: rgb(35, 216, 47);
  color: white;
  border: none;
  padding: 8px;

}

.list__button--green {
  color: white;
}

.list__button--green:hover {
  transition: 1s;
  background-color: green;
}

.list__button--green:active {
  background-color: rgb(35, 216, 47);
}

.list__button--red:hover {
  transition: 1s;
  background-color: rgb(255, 9, 9);
}

.list__button--remove {
  background-color: rgb(239, 170, 170);
}

