.section {
  margin-top: 10px;
  background-color: #fff;
}

.section__paragraph {
  padding-left: 5px;
  padding-bottom: 10px;
}

.section__paragraph--taskList {
  padding-bottom: 20px;
  padding-right: 20px;
}

.section__taskInput {
  font-weight: 400;
  padding: 5px;
}

.section__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: white;
  border-bottom: 1px solid rgb(204, 201, 201);
}

@media (max-width: 767px) {
  .section__container {
    grid-template-columns: 1fr;
  }
}

.section__buttons {
  margin-top: 5px;
  padding-bottom: 10px;

}

.section__buttonToggleHideDone--marginTop {
  margin-top: 10px;
  background-color: grey;
}

.section__buttonToggleHideDone {
  color: rgb(0, 167, 179);
  border: none;
  background-color: white;
  padding-bottom: 15px;
}

.section__buttonToggleHideDone:active {
  color: red;
}

.section__buttonToggleHideDone:hover {
  color: rgb(18, 112, 119);
}

.section__buttonDoneAll {
  color: rgb(0, 167, 179);
  border: none;
  background-color: white;
  padding-bottom: 15px;
}

.section__buttonDoneAll:active {
  color: red;
}

.section__buttonDoneAll:hover {
  color: rgb(18, 112, 119);
}

.section__buttonDoneAll:disabled {
  color: rgb(226, 222, 222);

}